<template>
  <div class="container">
    <h1>Login to Todo</h1>
  <div class="container" style="max-width:400px;">
    <div class="mb-2">
    <input v-model="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-2">
    <input v-model="password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
    </div>
    <div class="row lg-2"> 
      <div class="col d-flex">
        <button @click="login" type="button" class="btn btn-outline-primary">Login</button>
      </div>
      <div class="col d-flex align-items-end">
        <button @click="register" class="btn btn-outline-info" >Register</button>
      </div>
    </div>
    
    <div>
    </div>
  </div>

  </div>
</template>

<script>

export default {
  name: 'Home',
  components:{

  },
  data () {
    return{
      email:'',
      password:''
    }
  },

  methods:{
    login(){
      const payload = {'email':this.email,'password':this.password}
      this.$store.dispatch('login',payload);
    },
    register(){
      const payload = {'email':this.email,'password':this.password}
      this.$store.dispatch('register',payload)
    }
  }
  
}
</script>
