<template>
<div v-if="this.$store.state.isAuthenticated"> 
  <h1>Todos</h1>
  <div class="container">
      <button @click="addTask">Add Task</button>
  </div>
  <div v-if="this.addTaskButton" class="container">  
    <div class="container" style="max-width:400px;">
      <div class="card" >
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input v-model="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <input v-model="content" type="textarea" class="form-control" id="exampleFormControlInput1" placeholder="Content">
          </div>
          <div class="mb-3">
             <button @click="addTodo">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div v-for="data in this.$store.getters.getTodoList" :key="data.id" class="col-lg-4 col-md-6 mb-2 mt-2" >
          <card @deleteTodo="deleteTodo" @updateTodo="updateTodo" :todoData="data" ></card>
          
        </div>
        
    </div>
  </div>

  <button @click="logout">logout</button>
</div>
</template>

<script>
import  Card from '../components/Card.vue'

export default {
  data() {
    return({
      heading:"Learn AWS",
      cardTitle:"Learn Aws",
      cardContent:"Learn Aws in 10 days lorems ",
      addTaskButton:false,
      title:null,
      content:null,
      todosList:null,
    })
  },
  components: {
    'card':Card
  },
  methods: {

    addTask(){
      this.addTaskButton = !this.addTaskButton
    },

    async logout(){
      await this.$store.dispatch('logout')
      alert("logged out successfully")
    },

    async addTodo(){
      const payload = {
        'title':this.title,
        'content':this.content
      }
      await this.$store.dispatch('addTodo',payload)
      this.getTodos();
    },
    async updateTodo(payload){
      await this.$store.dispatch('updateTodo',payload)
    },
    
    async deleteTodo(payload){
      await this.$store.dispatch('deleteTodo',payload)
      this.getTodos();
    },

    getTodos(){
      this.$store.dispatch('getTodos')
    }
  },
  
  created(){
    this.getTodos();
  },
}
</script>

<style>

</style>