<template>
  <div class="card text-center">
  <div class="card-header" style="backgroundColor:yellow;">
    <input :class="this.editTodoButton?'nothing':'inputInvisible'" type="text" v-model="todoData.title">
    <!-- {{todoData.title}} -->
  </div>
  <div class="card-body">
     <input :class="this.editTodoButton?'nothing':'inputInvisible'" type="text" v-model="todoData.content">
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-danger ms-1 me-1" @click="deleteTodo(todoData.id)">Delete</button>
    <button class="btn btn-primary ms-1 me-1" @click="editTodo">Edit</button>
    <button v-if="this.editTodoButton" class="btn btn-secondary ms-1 me-1" @click="updateTodo(todoData.id,todoData.title,todoData.content)">Update</button>
  </div>
</div>
</template>

<script>
export default {
    data(){
      return({
        editTodoButton:false
      })
    },
    props: [
    'todoData'
    ],
    methods:{
      deleteTodo(payload){
        this.$emit('deleteTodo',payload)
      },
      editTodo(){
        this.editTodoButton = !this.editTodoButton
      },
      updateTodo(id,title,content){
        const data = {
          'title':title,
          'content':content,
          'id':id
        }
        this.$emit('updateTodo',data)
        this.editTodoButton = false;
      }
    }

}
</script>

<style>

.inputInvisible {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  background-color: inherit;
  pointer-events: none;
  text-align: center;
}

.nothing{
  text-align: center;
}

</style>